@model IEnumerable<InformacjeTurystyczne.Models.Tabels.Entertainment>


<h1>Entertainment</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEntertainment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRegion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEntertainment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEntertainment">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEntertainment">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEntertainment">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>