@using Microsoft.AspNetCore.Identity; 

<!DOCTYPE html>

@inject SignInManager<AppUser> SignInManager

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Informacje Turystyczne</title>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="navbar">
            <ul class="navbar__list">
                <a class="navbar__link" asp-area="" asp-controller="Home" asp-action="Index">
                    <li class="navbar__item">Strona główna</li>
                </a>
                <a class="navbar__link" asp-area="" asp-controller="TouristInformation" asp-action="Index">
                    <li class="navbar__item">Informacje turystyczne</li>
                </a>
                <a class="navbar__link" asp-area="" asp-controller="Notifications" asp-action="Index">
                    <li class="navbar__item">Powiadomienia</li>
                </a>
                <a class="navbar__link" asp-area="" asp-controller="User" asp-action="Index">
                    <li class="navbar__item">Użytkownicy</li>
                </a>
                <a class="navbar__link" asp-area="" asp-controller="Mail" asp-action="Index">
                    <li class="navbar__item">Wiadomości</li>
                </a>
                <a class="navbar__link" asp-area="" asp-controller="Admin" asp-action="Index">
                    <li class="navbar__item">Panel administracyjny</li>
                </a>
                <a class="navbar__link" asp-area="" asp-controller="Role" asp-action="Index">
                    <li class="navbar__item">Zarządzanie rolami</li>
                </a>
                <a class="navbar__link" asp-area="" asp-controller="Map" asp-action="Index">
                    <li class="navbar__item">Mapa</li>
                </a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
                          method="post" class="navbar-right">
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <li class="navbar__item">Wyloguj</li>
                        </a>
                    </form>
                }
                else
                {
                    <a class="navbar__link" asp-area="" asp-controller="Account" asp-action="Register">
                        <li class="navbar__item">Zarejestruj</li>
                    </a>
                    <a class="navbar__link" asp-area="" asp-controller="Account" asp-action="Login">
                        <li class="navbar__item">Zaloguj</li>
                    </a>
                }
            </ul>
            <script>
                var controller = "@ViewContext.RouteData.Values["Controller"]";
                var action = "@ViewContext.RouteData.Values["Action"]";
                console.log(controller);
                console.log(action);
                var elem;
                if (controller === "Home")
                    elem = document.querySelector(`a.navbar__link[href='/']`);
                else if (action === "Index")
                    elem = document.querySelector(`a.navbar__link[href='/${controller}']`);
                else
                    elem = document.querySelector(`a.navbar__link[href='/${controller}/${action}']`);
                elem.classList.add("navbar__link--active");
            </script>
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
